/*General CSS Rules*/
body {
    background-color: lightgray;
    margin: 0%;
    font-family: monospace;
    text-align: justify;
}

header, footer {
    background-color: darkgreen;
    color: white;
    width: 100%;
}

header {
    height: 50px;
}

header img {
    height: 100%;
}

main {
    width: 80%;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 0%;
}

h2 {
    margin: 0%;
}

h2 p {
    margin-left: 2%;
    margin-right: 2%;
}

nav {
    display: block;
    float: right;
    width: 60%;
    height: 50px;
}

nav ul {
    margin: 0%;
    height: 100%;
    padding: 0%;
}

nav  ul li {
    height: 100%;
    width: 25%;
    float: right;
    list-style-type: none;
}

nav ul li a {
    display: flex; /* reference: https://stackoverflow.com/questions/5166574/vertical-align-text-in-block-element, melhosseiny's answer */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; /* reference: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container */
    color: white;
    text-decoration: none;
    padding-top: 0%;
}

nav ul li a:hover {
    background-color: forestgreen;
    text-decoration: underline;
}

footer {
    display: inline-block;
}

#pageInfo {
    width: 38%;
    margin-left: 2%;    
    display:inline-block;
}

#siteInfo {
    width: 58%;
    margin-right: 2%;
    float: right;
    display:inline-block;
}

