/*General CSS Rules*/
html {
    height: 100%;
}
body {
    background-color: lightgray;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    min-height: 100%;
}

h1, h2 {
    font-family: monospace;
}

header, footer {
    font-family: monospace;
    background-color: darkgreen;
    color: white;
    width: 100%;
}

header {
    height: 50px;
}

header img {
    height: 100%;
}

main {
    width: 80%;
    margin: auto;
    background-color: white;
    overflow: auto; /* reference: https://stackoverflow.com/questions/13573653/css-margin-terror-margin-adds-space-outside-parent-element user j08691's answer.*/
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    margin: 0%;
    margin-left: 2%;
    margin-right: 2%;
}

h2 p {
    margin-left: 2%;
    margin-right: 2%;
}

h3 {
    margin-left: 5%;
    margin-right: 5%;
}

nav {
    display: block;
    float: right;
    width: 60%;
    height: 50px;
}

nav ul {
    margin: 0%;
    height: 100%;
    padding: 0%;
}

nav  ul li {
    height: 100%;
    width: 25%;
    float: right;
    list-style-type: none;
}

nav ul li a {
    display: flex; /* reference: https://stackoverflow.com/questions/5166574/vertical-align-text-in-block-element, melhosseiny's answer */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; /* reference: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container */
    color: white;
    text-decoration: none;
    padding-top: 0%;
}

nav ul li a:hover {
    background-color: forestgreen;
    color: white;
    text-decoration: underline;
}

footer {
    display: inline-block;
}

#pageInfo {
    width: 38%;
    margin-left: 2%;    
    display:inline-block;
}

#siteInfo {
    width: 58%;
    margin-right: 2%;
    float: right;
    display:inline-block;
}

address a {
    color: white;
}

address a:hover {
    color: gray;
}

#icon {
    display: inline-flex;
    height: 50px;
    width: 15%;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding-left: 1%;
    font-weight: bold;
}

#icon:hover {
    background-color: forestgreen;
}

span {
    margin-right: 2px;
}

main small {
    margin-left: 2%;
}

.learnmore {
    float: right;
    margin-right: 2%;
}

ul {
    margin-left: 5%;
    margin-right: 5%;
}

dfn {
    font-style: normal;
}